* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

h1,h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

h3,h4,p,button,input,:link {
    font-family: 'Barlow', serif;
    font-weight: 200;
}

a, a:hover, a:focus, a:active, a:link {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    background-color: transparent;
}

.div-bg {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}