.forecast {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: hidden;

    &-header {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        overflow-y: hidden;

        &-switch {
            order: 1;
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            background: transparent;
            overflow-y: hidden;

            &-time {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                align-self: flex-start;
                background: transparent;
                overflow-y: hidden;
            }

            &-types {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                align-self: flex-end;
                margin-left: auto;
                margin-right: 0;
                background: transparent;
                overflow-y: hidden;
                
            }

        }

        // &-border {
        //     order: 2;
        // }

        &-chart {
            align-self: flex-end;
            margin-left:auto;
            margin-right: 0;
            overflow-y: hidden;

        }
    }

    &-data {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
        overflow-y: hidden;

        &-contents {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items: center;
            overflow-y: hidden;
           

            &-temp {
                font-size: 1rem;
            }
        
            // &-icons {
        
            // }
        
            &-period {
                font-size: 1rem;
        
            }
            &-extra {
                font-size: .5rem;
                text-align: center;
            }
        }

        &-chart {
            display: flex;
            flex-direction: column;
            gap:  2rem;
            overflow-y: hidden;

            &-footer {
                display:flex;
                flex-direction: row;
                gap:0.5rem;
                background:transparent;
                align-items: center;
                justify-items: center;
                justify-content: center;
                overflow-y: hidden;
                
                &-btn {
                    background:transparent;
                    transition: all 0.5s ease-in-out;
                   
                }

                &-text {
                    font-size: 1.5rem;
                    opacity: 0.8;
                }
            }

            &-hide {
                transform-origin: 100% 100%;
                transform: scaleY(90%);
                opacity: 0;

            }

            &-show {
                transform-origin: 100% 100%;
                transform: scaleY(100%);
                
            }

            &-show-info {
                opacity: 1;
                font-size:.8rem;
                font-family: "'Barlow', serif";
                text-anchor: middle;
            }

            &-hide-info {
                opacity: 0;
                // display: none;
                z-index: -10;
            }
        }
       

    }

   
}