.header {
    display: flex;
    flex-direction: row;

    &-title {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: auto;
        font-size: $font-title;
        letter-spacing: .1rem;
    }
    &-subtitle {
        font-size: $font-subtitle;
    }
}