.home {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;

    &-settings {
        position: absolute;
        display: flex;
        height: 100vh;
        width: 100%;
        background: rgba(var(--color-fg), $alpha: 0.4);
        transition: all 0.5s ease-in-out;
        overflow: hidden;

        &-btn {
            position: absolute;
            opacity: 1;
            top: 2rem;
            left: 2rem;
        }


        &-card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            padding: 2rem;
            margin: auto;
            height: 30vh;
            width: 70vw;
            background: rgba(var(--color-fg), $alpha: 0.7);
            border-radius: 2rem;

            &-close {
                align-self: flex-end;
                background: transparent;
                opacity: 0.5;
                stroke: var(--color-bg);
            }

            &-reset {
                color: #fff;

            }

        }

    }

    &-current {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;

        &-image {
            align-self: flex-end;
            opacity: 0.5;
            margin-right: -2rem;
        }

        &-stats {
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            &-row {
                align-self: flex-start;
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                letter-spacing: 0.05rem;

                &-image {
                    align-self: flex-start;
                }
            }
        }

        &-temp {
            align-self: flex-end;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            &-highlow{
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            &-main {
                font-size: 5rem;
            }
        }
    }

}