.loading {
    display: flex;
    align-items: center;
    height: 100vh;
    background: linear-gradient(168.63deg, #1F1D36 0%, rgba(0,0, 0, 0.38) 99.26%);

    &-bar {
        margin: auto;

        &-text {
            font-size: 1rem;
            text-align: center;
            letter-spacing: 0.1rem;
            color: #fff;
        }
        
    }

    &-anim {
        animation: 4s rotate infinite linear;
        transform-origin: center;
        opacity: 0.5;
    }
}

@keyframes Load {
    0%{transform: scaleX(0);
        opacity: 0;}
    100%{transform: scaleX(1);
        opacity: 1;}
}

@keyframes Unload {
    0%{transform: scaleX(1);
        opacity: 1;}
    100%{transform: scaleX(0);
        opacity: 0;}
}

@keyframes rotate {
    to { transform: rotate(360deg);}
    
}