$font-barlow:  'Barlow', serif;
$font-title: 1.8rem;
$font-subtitle: .8rem;
$font-content: 1.3rem;

$breakpoints : (
    'phoneSmallest': 321px,
    'phoneSmaller': 374px,
    'phonesmall': 375px,
    'tabletMedium': 770px,
    'tabletLarge': 1000px,
    'desktop': 1200px
)